<!DOCTYPE html>
<html>
<head>
    <title>Hide/show menu</title>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
        }

        #sidebar {
            position: fixed;
            width: 200px;
            height: 100%;
            background: #151719;
            left: -200px;
            transition: all 500ms linear;
        }

            #sidebar.active {
                left: 0px;
            }

            #sidebar ul li {
                color: rgba(230,230,230,0.9);
                list-style: none;
                padding: 15px 10px;
                border-bottom: 1px solid rgba(100,100,100,0.3);
            }

            #sidebar .toggle-btn {
                position: absolute;
                left: 230px;
                top: 20px;
            }

                #sidebar .toggle-btn span {
                    display: block;
                    width: 30px;
                    height: 5px;
                    background: #151719;
                    margin: 5px 0px;
                }
    </style>
    <script type="text/javascript">
  function toggleSidebar(){
   document.getElementById("sidebar").classList.toggle('active');
  }
    </script>
</head>
<body>
    <div id="sidebar">
        <div class="toggle-btn" onclick="toggleSidebar()">
            <a>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
        <ul>
            <li>Add Product</li>
            <li>Categories</li>
            <li>Home</li>
        </ul>
    </div>
</body>
</html>

